<a href="https://colab.research.google.com/github/Mustak-Ahamed-Ashik/100-days-of-Python-Code/blob/main/Day_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Understanding Data Types and String Manipulations

#Introduction

In [2]:
print("Hello"[0])
print("Hello"[4])
print("Hello"[-1])
print("Hello"[-5])

H
o
o
H

In [4]:
print("45" +"30")
print(45+30)

4530
75

In [10]:
num = 34_456
#To easily readable we usually use 34,456 But here python it is used by ' _ '

In [11]:
print(num)

34456

In [9]:
#Float
pi = 3.14159
print(pi)

3.14159

In [14]:
#Boolean
a = bool(0)
print(a)

False

In [15]:
street_name = "Abbey Road"
print(street_name[4] + street_name[7])

yo

#Type Error, Type Checking and Type conversion

In [24]:
length = len(input('Enter Your name '))
print('Your name has '+ length + ' characters')

Enter Your name ashik

TypeError: ignored

In [25]:
#Here we see an error.This is due to concatenation is only support for string variables.can only concatenate str (not "int") to str

In [26]:
print(type(len(input('Enter Your name '))))

Enter Your name ashik
<class 'int'>

#Type conversion or Type casting

In [27]:
length = len(input('Enter Your name '))
length = str(length)
print('Your name has '+ length + ' characters')

Enter Your name ashik
Your name has 5 characters

In [28]:
a = 123
print(type(a))

<class 'int'>

In [29]:
a = float(123)
print(type(a))

<class 'float'>

In [30]:
print(str(70)+str(100))

70100

#Challenge 1

 Instructions

Write a program that adds the digits in a 2 digit number. e.g. if the input was 35, then the output should be 3 + 5 = 8

**Warning.** Do not change the code on lines 1-3. Your program should work for different inputs. e.g. any two-digit number.

Example Input

```
39
```

Example Output

3 + 9 = 12

```
12
```

e.g. When you hit **run**, this is what should happen:  

![](https://cdn.fs.teachablecdn.com/iyJTPDDRRJCB1gmdVQMS)

Hint

1. Try to find out the data type of two_digit_number.
2. Think about what you learnt about subscripting.
3. Think about type conversion.

In [31]:
# 🚨 Don't change the code below 👇
two_digit_number = input("Type a two digit number: ")
# 🚨 Don't change the code above 👆

####################################
#Write your code below this line 👇
print(int(two_digit_number[0]) + int(two_digit_number[1]))

Type a two digit number: 39
12

#Mathematical Operations

In [36]:
print(4+5)
print(9-4)
print(4*6)
print(2**3)

9
5
24
8

In [33]:
# A little bit tricky
print(6/2)

3.0

In [34]:
type(6/2)

float

In [38]:
print(type(5+4.0))

<class 'float'>

In [41]:
print(45.245+6/2)

48.245

Operators precedence
```
PEMDAS
P = Parenethesis
E = Exponents
M = Multiplications
D = Division
A = Addition
S = Subtraction
```

In [43]:
print(5 * 20 / 4 + 4 - 5)

24.0

#Challenge 2
Instructions :

Write a program that calculates the Body Mass Index (BMI) from a user's weight and height.

The BMI is a measure of some's weight taking into account their height. e.g. If a tall person and a short person both weigh the same amount, the short person is usually more overweight.

The BMI is calculated by dividing a person's weight (in kg) by the square of their height (in m):

![](https://cdn.fs.teachablecdn.com/jKHjnLrNQjqzdz3MTMyv)

**Warning** you should convert the result to a whole number. 

Example Input

```
weight = 80
```

```
height = 1.75
```

Example Output

80 ÷ (1.75 x 1.75) =  26.122448979591837

```
26
```

e.g. When you hit **run**, this is what should happen:  

![](https://cdn.fs.teachablecdn.com/wmjVjddeSmGj0QVtOUrE)

Hint

1. Check the data type of the inputs.
2. Try to use the exponent operator in your code.
3. Remember PEMDAS.
4. Remember to convert your result to a whole number (int).

In [49]:
# 🚨 Don't change the code below 👇
height = input("enter your height in m: ")
weight = input("enter your weight in kg: ")
# 🚨 Don't change the code above 👆

#Write your code below this line 👇
print(int((float(weight)/(float(height)**2))))

enter your height in m: 1.75
enter your weight in kg: 80
26

#Number Manipulations and f string

In [52]:
print(round(8 / 3 , 2))

2.67

In [53]:
print(8 // 3)

2

In [55]:
result = 8 / 2
result /= 2
print(result)

2.0

In [57]:
result = 3.7
subject = 5
print(f"Your result is {result} Your subject number is {subject}")

Your result is 3.7 Your subject number is 5

# Challenge 3

Instructions :

I was reading this article by Tim Urban - Your Life in Weeks and realised just how little time we actually have.

Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old. 

It will take your current age as the input and output a message with our time left in this format:

> You have x days, y weeks, and z months left. 

Where x, y and z are replaced with the actual calculated numbers. 

 

**Warning** your output should match the Example Output format exactly, even the positions of the commas and full stops. 

 Example Input

```
56
```

Example Output

```
You have 12410 days, 1768 weeks, and 408 months left.
```

e.g. When you hit **run**, this is what should happen:  

 
![](https://cdn.fs.teachablecdn.com/RjqBViZQpyVTv7XY6cfA)
 

Hint

1. There are 365 days in a year, 52 weeks in a year and 12 months in a year.
2. Try copying the example output into your code and replace the relevant parts so that the sentence is formated the same way.

In [7]:
# 🚨 Don't change the code below 👇
age = input("What is your current age?")
# 🚨 Don't change the code above 👆

#Write your code below this line 👇
days = int((90*365)-int(age)*365)
weeks = int((90*52)-int(age)*52)
months = int((90*12)-int(age)*12)
print(f"You have {days} days, {weeks} weeks, and {months} months left.")

What is your current age?56
You have 12410 days, 1768 weeks, and 408 months left.

In [10]:
print(6 + 4 / 2 - (1 * 2))
a = int("5") / int(2.7)
print(type(a))

6.0
<class 'float'>

#Project

In [11]:
#If the bill was $150.00, split between 5 people, with 12% tip. 
#Each person should pay (150.00 / 5) * 1.12 = 33.6
#Format the result to 2 decimal places = 33.60
#Tip: There are 2 ways to round a number. You might have to do some Googling to solve this.💪
#HINT 1: https://www.google.com/search?q=how+to+round+number+to+2+decimal+places+python&oq=how+to+round+number+to+2+decimal
#HINT 2: https://www.kite.com/python/answers/how-to-limit-a-float-to-two-decimal-places-in-python

In [12]:
print("Welcome to the tip calculator.")
total = float(input("What was the total bill? "))
per = int(input("What percentage tip would you like to give? 10, 12 or 15? "))
people = int(input("How many people to split the bill? "))
pay = round(((total + (total * per) / 100) / people), 2)
print(f"Each person should pay: {pay}")

Welcome to the tip calculator.
What was the total bill? 124.56
What percentage tip would you like to give? 10, 12 or 15? 12
How many people to split the bill? 7
Each person should pay: 19.93